@media(max-width: 375px){
    body {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    section {
        width: 100%;
        height: 80vh;
    }
    .section1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80vh;
        background: #ffffff;
        background-image: url('./images/mobile/image-hero.jpg');
        background-size: cover;
    }
    .head-nav {
        padding: 40px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .head-nav i {
        color: white;
        transform: scale(150%)
    }
    .head-intro {
        margin: 30% 16px;
        padding: 20px;
        color: white;
        letter-spacing: 1px;
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 2.4em;
        border: 3px solid white;
    }
    .head-intro p {
        margin: 0;
        padding: 0;
    }
    .section2 {
        margin: 10vh 20px 0 20px;
        height: 80vh;
        background: #ffffff;
    }
    .section2 > img {
        width: 100%;
    }
    .section2 .text-section {
        margin-top: 3.2em;
    }
    .section2 .text-section p{
        letter-spacing: 1px;
        margin: 0;
        padding: 1px;
        font-family: 'Josefin Sans', 'sans-serif';
        font-weight: 500;
        font-size: 2.2em;
        display: flex;
        justify-content: center;
    }
    .section2 .text-section p:nth-child(3){
        line-height: 1.5em;
        margin-top: 1.5em;
        padding: 0px 10px;
        text-align: center;
        font-size: 1em;
    }
    .section3 {
        width: 100%;
        display: flex;
        flex-wrap: wrap ;
        flex-direction: column;
        align-items: center;
    }
    .section3 > p {
        margin-top: -0.2em;
        margin-bottom: 30px;
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 2.2em;
        font-weight: 500;
    }
    .section3 .img-section {
        width: 90%;
    }
    .section3 .img-section div {
        margin: 5% 0px;
        position: relative;
        width: 100%;
        height: 150px;
    }
    .section3 .img-section div img {
        width: 100%;
        height: 100%;
    }
    .section3 .img-section div p {
        position: absolute;
        color: white;
        font-size: 1em;
        top: 55px;
        left: 13px;
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 2em;
        text-transform: uppercase;
    }
}